#navbarTogglerDemo03 {
  padding-left: 30px;
}

.card {
  width: 350px;
}

.card-box-container .text-center {
  justify-content: left;
}

.card-box-container .btn-card-box {
  width: 210px;
}

.jumbotron {
  display: flex;
  flex-direction: row;
  background-color: #49d192;
}

.jumbotron-text {
  padding-left: 80px;
  padding-right: 50px;
}

.card-group {
  margin: 20px;
  justify-content: space-between;
}
